@reference "./globals.css";

.milkdown .milkdown-slash-menu .tab-group {
  @apply pb-3;
}

.crepe .cm-cursor,
.crepe .cm-dropCursor {
  border-left-color: #000 !important;
}

.dark .crepe .cm-cursor,
.dark .crepe .cm-dropCursor {
  border-left-color: #fff !important;
}

.crepe .milkdown {
  display: flow-root;
}

div:not(.expanded) .crepe > .milkdown > .ProseMirror {
  @apply h-full px-2 py-2! md:px-32 md:py-12!;
}

.crepe .milkdown:not(.expanded .crepe .milkdown) {
  @apply overflow-y-scroll overscroll-auto;
}

.cm-editor {
  @apply text-sm;
}

.milkdown * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.crepe .milkdown {
  height: 100%;
  flex: 1;

  --crepe-color-background: #fdfcff;
  --crepe-color-on-background: #1b1c1d;
  --crepe-color-surface: #f8f9ff;
  --crepe-color-surface-low: #f2f3fa;
  --crepe-color-on-surface: #191c20;
  --crepe-color-on-surface-variant: #43474e;
  --crepe-color-outline: #73777f;
  --crepe-color-primary: #37618e;
  --crepe-color-secondary: #d7e3f8;
  --crepe-color-on-secondary: #101c2b;
  --crepe-color-inverse: #2e3135;
  --crepe-color-on-inverse: #eff0f7;
  --crepe-color-inline-code: #ba1a1a;
  --crepe-color-error: #ba1a1a;
  --crepe-color-hover: #eceef4;
  --crepe-color-selected: #e1e2e8;
  --crepe-color-inline-area: #d8dae0;

  --crepe-font-title: Rubik, Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: Inter, Arial, Helvetica, sans-serif;
  --crepe-font-code:
    "JetBrains Mono", Menlo, Monaco, "Courier New", Courier, monospace;

  --crepe-shadow-1:
    0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --crepe-shadow-2:
    0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.dark .crepe .milkdown {
  --crepe-color-background: #1b1c1d;
  --crepe-color-on-background: #f8f9ff;
  --crepe-color-surface: #111418;
  --crepe-color-surface-low: #191c20;
  --crepe-color-on-surface: #e1e2e8;
  --crepe-color-on-surface-variant: #c3c6cf;
  --crepe-color-outline: #8d9199;
  --crepe-color-primary: #a1c9fd;
  --crepe-color-secondary: #3c4858;
  --crepe-color-on-secondary: #d7e3f8;
  --crepe-color-inverse: #e1e2e8;
  --crepe-color-on-inverse: #2e3135;
  --crepe-color-inline-code: #ffb4ab;
  --crepe-color-error: #ffb4ab;
  --crepe-color-hover: #1d2024;
  --crepe-color-selected: #32353a;
  --crepe-color-inline-area: #111418;

  --crepe-font-title: Rubik, Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: Inter, Arial, Helvetica, sans-serif;
  --crepe-font-code:
    "JetBrains Mono", Menlo, Monaco, "Courier New", Courier, monospace;

  --crepe-shadow-1:
    0px 1px 2px 0px rgba(255, 255, 255, 0.3),
    0px 1px 3px 1px rgba(255, 255, 255, 0.15);
  --crepe-shadow-2:
    0px 1px 2px 0px rgba(255, 255, 255, 0.3),
    0px 2px 6px 2px rgba(255, 255, 255, 0.15);
}

.crepe > .milkdown > .ProseMirror {
  @apply md:px-[120px]! md:py-[60px]!;
}

.crepe-doc > .milkdown > .ProseMirror {
  @apply px-3! py-0!;
}

.crepe-doc .iframe-plugin-container {
  @apply my-4;
}

.crepe-doc .iframe-plugin-container.ProseMirror-selectednode {
  @apply bg-transparent!;
}

.crepe-doc .iframe-plugin-container > a {
  @apply border-nord-neutral/10 text-nord-neutral hover:bg-nord-secondary-deep/[0.12] dark:text-nord-neutral-dark hover:dark:bg-nord-secondary-deep/[0.12] inline-flex items-center justify-center gap-2 rounded-t border bg-gray-300 px-2 py-1 text-xs font-bold no-underline! shadow transition dark:bg-gray-700;
}

.crepe-doc .iframe-plugin-container > a span {
  @apply text-base;
}

.crepe-doc .iframe-plugin {
  @apply border-nord-neutral/10 block aspect-video w-full rounded-tr rounded-b border border-t-0 shadow;
}
