.milkdown milkdown-slash-menu .tab-group {
  @apply !pb-3;
}

.crepe .cm-cursor,
.crepe .cm-dropCursor {
  border-left-color: #000 !important;
}

.dark .crepe .cm-cursor,
.dark .crepe .cm-dropCursor {
  border-left-color: #fff !important;
}

.crepe .milkdown {
  display: flow-root;
}

div:not(.expanded) .crepe .milkdown .ProseMirror {
  @apply h-full px-32 py-12;
}

.crepe .ProseMirror:not(.expanded .crepe .ProseMirror) {
  @apply overflow-y-scroll overscroll-none;
}

.cm-editor {
  @apply text-sm;
}

.milkdown * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.crepe {
  .milkdown {
    position: relative;
  }

  .milkdown button:not(.cm-editor *),
  .milkdown input:not(.cm-editor *) {
    border: none;
    background: none;
    box-shadow: none;
  }

  .cm-button {
    background: var(--crepe-color-surface);
    border-radius: 4px;
    border: 1px solid var(--crepe-color-outline);
    font-family: var(--crepe-font-default);
    &:hover {
      background: var(--crepe-color-hover);
    }
    &:active {
      background: var(--crepe-color-selected);
    }
  }

  .milkdown button:focus,
  .milkdown input:focus {
    outline: none;
  }

  .milkdown :focus-visible {
    outline: none;
  }

  .milkdown {
    font-family: var(--crepe-font-default);
    color: var(--crepe-color-on-background);
    background: var(--crepe-color-background);
  }

  .milkdown .ProseMirror-focused {
    outline: none;
  }

  .milkdown .ProseMirror *::-moz-selection {
    background: var(--crepe-color-selected);
  }

  .milkdown .ProseMirror *::selection {
    background: var(--crepe-color-selected);
  }

  .milkdown .ProseMirror li.ProseMirror-selectednode {
    background: var(--crepe-color-selected);
    outline: none;
  }

  .milkdown .ProseMirror li.ProseMirror-selectednode ::-moz-selection {
    background: transparent;
  }

  .milkdown .ProseMirror li.ProseMirror-selectednode ::selection {
    background: transparent;
  }

  .milkdown .ProseMirror li.ProseMirror-selectednode::-moz-selection {
    background: transparent;
  }

  .milkdown .ProseMirror li.ProseMirror-selectednode::selection {
    background: transparent;
  }

  .milkdown .ProseMirror li.ProseMirror-selectednode:after {
    all: unset;
  }

  .milkdown .ProseMirror .ProseMirror-selectednode {
    background: var(--crepe-color-selected);
    outline: none;
    background: color-mix(
      in srgb,
      var(--crepe-color-selected),
      transparent 60%
    );
  }

  .milkdown .ProseMirror .ProseMirror-selectednode ::-moz-selection {
    background: transparent;
  }

  .milkdown .ProseMirror .ProseMirror-selectednode ::selection {
    background: transparent;
  }

  .milkdown .ProseMirror .ProseMirror-selectednode::-moz-selection {
    background: transparent;
  }

  .milkdown .ProseMirror .ProseMirror-selectednode::selection {
    background: transparent;
  }

  .milkdown .ProseMirror[data-dragging="true"]::-moz-selection,
  .milkdown .ProseMirror[data-dragging="true"] *::-moz-selection {
    background: transparent;
  }

  .milkdown .ProseMirror[data-dragging="true"] .ProseMirror-selectednode,
  .milkdown .ProseMirror[data-dragging="true"]::selection,
  .milkdown .ProseMirror[data-dragging="true"] *::selection {
    background: transparent;
  }

  .milkdown .ProseMirror[data-dragging="true"] input::-moz-selection {
    background: var(--crepe-color-selected);
  }

  .milkdown .ProseMirror[data-dragging="true"] input::selection {
    background: var(--crepe-color-selected);
  }

  .milkdown .ProseMirror img {
    vertical-align: bottom;
    max-width: 100%;
  }

  .milkdown .ProseMirror img.ProseMirror-selectednode {
    background: none;
    outline: 2px solid var(--crepe-color-primary);
  }

  .milkdown .ProseMirror h1,
  .milkdown .ProseMirror h2,
  .milkdown .ProseMirror h3,
  .milkdown .ProseMirror h4,
  .milkdown .ProseMirror h5,
  .milkdown .ProseMirror h6 {
    font-family: var(--crepe-font-title);
    font-weight: 400;
    padding: 2px 0;
  }

  .milkdown .ProseMirror h1 {
    font-size: 42px;
    line-height: 50px;
    margin-top: 32px;
  }

  .milkdown .ProseMirror h2 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 28px;
  }

  .milkdown .ProseMirror h3 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 24px;
  }

  .milkdown .ProseMirror h4 {
    font-size: 28px;
    line-height: 36px;
    margin-top: 20px;
  }

  .milkdown .ProseMirror h5 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
  }

  .milkdown .ProseMirror h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 16px;
  }

  .milkdown .ProseMirror p {
    font-size: 16px;
    line-height: 24px;
    padding: 4px 0;
  }

  .milkdown .ProseMirror code {
    color: var(--crepe-color-inline-code);
    background: color-mix(
      in srgb,
      var(--crepe-color-inline-area),
      transparent 40%
    );
    font-family: var(--crepe-font-code);
    padding: 0 10px;
    border-radius: 4px;
    font-size: 87.5%;
    display: inline-block;
    line-height: 1.4286;
    &::selection {
      background: color-mix(
        in srgb,
        var(--crepe-color-inline-area) 80%,
        var(--crepe-color-outline) 80%
      );
    }
  }

  .milkdown .ProseMirror a {
    color: var(--crepe-color-primary);
    text-decoration: underline;
  }

  .milkdown .ProseMirror pre {
    background: color-mix(
      in srgb,
      var(--crepe-color-inline-area),
      transparent 40%
    );
    padding: 10px;
    border-radius: 4px;
  }

  .milkdown .ProseMirror pre code {
    padding: 0;
    background: transparent;
  }

  .milkdown .ProseMirror blockquote {
    position: relative;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: content-box;
    margin: 4px 0;
  }

  .milkdown .ProseMirror blockquote::before {
    content: "";
    width: 4px;
    left: 0;
    top: 4px;
    bottom: 4px;
    position: absolute;
    background: var(--crepe-color-selected);
    border-radius: 100px;
  }

  .milkdown .ProseMirror blockquote hr {
    margin-bottom: 16px;
  }

  .milkdown .ProseMirror hr {
    border: none;
    background-color: color-mix(
      in srgb,
      var(--crepe-color-outline),
      transparent 80%
    );
    background-clip: content-box;
    padding: 6px 0;
    height: 13px;
    position: relative;
  }

  .milkdown .ProseMirror hr.ProseMirror-selectednode {
    outline: none;
    background-color: color-mix(
      in srgb,
      var(--crepe-color-outline),
      transparent 20%
    );
    background-clip: content-box;
  }

  .milkdown .ProseMirror hr.ProseMirror-selectednode::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: color-mix(
      in srgb,
      var(--crepe-color-outline),
      transparent 80%
    );
    pointer-events: none;
  }

  .milkdown .ProseMirror ul,
  .milkdown .ProseMirror ol {
    padding: 0;
  }
}

.crepe .milkdown milkdown-table-block .cell-handle {
  background-color: var(--crepe-color-surface);
  box-shadow: var(--crepe-shadow-1);
}

.crepe .milkdown milkdown-image-inline {
  display: inline-block;
}

.crepe .milkdown milkdown-image-inline img {
  display: block;
}

.crepe .milkdown {
  height: 100%;
  flex: 1;

  --crepe-color-background: #fdfcff;
  --crepe-color-on-background: #1b1c1d;
  --crepe-color-surface: #f8f9ff;
  --crepe-color-surface-low: #f2f3fa;
  --crepe-color-on-surface: #191c20;
  --crepe-color-on-surface-variant: #43474e;
  --crepe-color-outline: #73777f;
  --crepe-color-primary: #37618e;
  --crepe-color-secondary: #d7e3f8;
  --crepe-color-on-secondary: #101c2b;
  --crepe-color-inverse: #2e3135;
  --crepe-color-on-inverse: #eff0f7;
  --crepe-color-inline-code: #ba1a1a;
  --crepe-color-error: #ba1a1a;
  --crepe-color-hover: #eceef4;
  --crepe-color-selected: #e1e2e8;
  --crepe-color-inline-area: #d8dae0;

  --crepe-font-title: Rubik, Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: Inter, Arial, Helvetica, sans-serif;
  --crepe-font-code: "JetBrains Mono", Menlo, Monaco, "Courier New", Courier,
    monospace;

  --crepe-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --crepe-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.dark .crepe .milkdown {
  --crepe-color-background: #1b1c1d;
  --crepe-color-on-background: #f8f9ff;
  --crepe-color-surface: #111418;
  --crepe-color-surface-low: #191c20;
  --crepe-color-on-surface: #e1e2e8;
  --crepe-color-on-surface-variant: #c3c6cf;
  --crepe-color-outline: #8d9199;
  --crepe-color-primary: #a1c9fd;
  --crepe-color-secondary: #3c4858;
  --crepe-color-on-secondary: #d7e3f8;
  --crepe-color-inverse: #e1e2e8;
  --crepe-color-on-inverse: #2e3135;
  --crepe-color-inline-code: #ffb4ab;
  --crepe-color-error: #ffb4ab;
  --crepe-color-hover: #1d2024;
  --crepe-color-selected: #32353a;
  --crepe-color-inline-area: #111418;

  --crepe-font-title: Rubik, Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: Inter, Arial, Helvetica, sans-serif;
  --crepe-font-code: "JetBrains Mono", Menlo, Monaco, "Courier New", Courier,
    monospace;

  --crepe-shadow-1: 0px 1px 2px 0px rgba(255, 255, 255, 0.3),
    0px 1px 3px 1px rgba(255, 255, 255, 0.15);
  --crepe-shadow-2: 0px 1px 2px 0px rgba(255, 255, 255, 0.3),
    0px 2px 6px 2px rgba(255, 255, 255, 0.15);
}

.crepe .milkdown .ProseMirror {
  @apply !px-3 !py-0 md:!px-[120px] md:!py-[60px];
}

.crepe-doc .milkdown .ProseMirror {
  @apply !px-3 !py-0;
}

.crepe-doc .iframe-plugin-container {
  @apply my-4;
}

.crepe-doc .iframe-plugin-container.ProseMirror-selectednode {
  @apply !bg-transparent;
}

.crepe-doc .iframe-plugin-container > a {
  @apply inline-flex items-center
    justify-center gap-2 rounded-t border
    border-nord-neutral/10 bg-gray-300
    py-1 px-2 text-xs font-bold
    text-nord-neutral !no-underline
    shadow transition
    hover:bg-nord-secondary-deep/[0.12] dark:bg-gray-700 dark:text-nord-neutral-dark hover:dark:bg-nord-secondary-deep/[0.12];
}

.crepe-doc .iframe-plugin-container > a span {
  @apply text-base;
}

.crepe-doc .iframe-plugin {
  @apply block aspect-video w-full rounded-b rounded-tr border border-t-0 border-nord-neutral/10 shadow;
}
