@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-screen;
}

#__next {
  @apply flex flex-col;
}

body {
  @apply bg-[#fdfcff] dark:bg-[#1b1c1d] text-gray-900 dark:text-gray-50;
}
div[data-milkdown-root="true"] {
  @apply h-full;
}
.milkdown {
  @apply h-full;
}

button.main-button {
  @apply shadow hover:shadow-md active:shadow-none transition;
}

button.button-primary {
  @apply bg-nord-primary text-nord-foreground;
  &:hover {
    background-color: color-mix(in srgb, #5E81AC, white 8%);
  }
  &:active {
    background-color: color-mix(in srgb, #5E81AC, white 12%);
  }
}

button.button-default {
  @apply bg-nord-foreground dark:bg-nord-foreground-dark text-nord-neutral dark:text-nord-neutral-dark;
  &:hover {
    background-color: color-mix(in srgb, #494E59 8%, white);
  }
  &:active {
    background-color: color-mix(in srgb, #494E59 12%, white);
  }
}

.dark {
  button.button-default {
    &:hover {
      background-color: color-mix(in srgb, #494E59 16%, black);
    }
    &:active {
      background-color: color-mix(in srgb, #494E59 12%, black);
    }
  }
}
