.cover {
  position: relative;
  overflow: hidden;
}

.bg {
  max-width: 1200px;
  min-width: 750px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bg svg {
  width: 100%;
  height: auto;
}

.bg svg g {
  filter: drop-shadow(0px 2px 5px rgba(184, 194, 215, 0.20));
}

.bg svg path {
  animation: draw 1.2s ease-in-out forwards;
  transform-origin: center top;
  transform: scaleY(0);
}

@keyframes draw {
  0% {
    transform: translateY(-200px) scaleY(0);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}
